* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit; /* Inherit da fonte definida no body */

}

body {
    max-width: 100%;
    background-color: var(--light-gray);
    font-family: 'Arial', sans-serif;
}

:root {
    --soft-gray: #DCDFE4;
    --light-gray: #FAFAFA;
    --middle-gray: #707070;
    --hover-gray: #F5F5F5;
  }